@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container{
    max-width: 1240px;
    margin: 0 auto;
}
.active {
    @apply font-medium bg-transparent text-gray-600;
  }
  
.default {
  @apply tracking-wide text-gray-700;
  transition: .3s ease-in-out;


}
.default:hover{
    background-color: transparent;
    font-weight: 500;
}

.p-bg-color{
    background-color: #1A5F7A;
}
.slick-list {
    height: 500px;
}
.slick-arrow{
    display: none !important;
}

@media only screen and (max-width: 600px) {
    .slick-list{
        height: 100%;
    }
  }